<section>
    <h1>Your Posts</h1>
    {{#each posts as |post|}}
    <div class="card">
        <a href="/blog/{{id}}">
            <header id="user-name">{{user.name}}</header>
            <div class="card-content">
                <p>{{post.post}}</p>
        </a>
        <button class="button delete-button" onClick="window.location.reload();" type="submit" data-blogId={{post.id}}>Delete post</button>
         <a href="blog/update/{{id}}">
        <button class="button update-button" onClick="window.location.reload();" type="submit" data-blogId={{post.id}}>Update post</button>
        </a>
    </div>
    </div>
    {{/each}}
    <div>
        <a href="blog/add">
            <button id="new-post" class="button" type="submit">New Post</button>
        </a>
    </div>
</section>
<script src="/js/deletePost.js"></script>